*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{

    cursor: default;
}

.homePage{
    background-image: url(/images/homePageBcg.png);
    background-size: cover;

}

.websitesPage{
    background-image: url(/images/websitesPageBcg.png);
    background-size: cover;

}

#Nav .navbar-brand{
    font-family: 'Poppins', sans-serif;
    cursor: default;
   
}



#Nav .collapse ul li a:hover{
    font-weight: 700;
}

.slideRight{ 
    animation: slideRight 8s cubic-bezier(0.075, 0.82, 0.165, 1);    
}

.slideRight-appear{ 
    animation: slideRight-appear 8s cubic-bezier(0.075, 0.82, 0.165, 1);    
}



.slideBottom{
    animation: slideBottom 6s cubic-bezier(0.075, 0.82, 0.165, 1);    

}

.slideTop{
    animation: slideTop 6s cubic-bezier(0.165, 0.84, 0.44, 1);    

}

.slideLeft{
    animation: slideLeft 8s cubic-bezier(0.075, 0.82, 0.165, 1);    

}

.appear{
    animation: appear 9s cubic-bezier(0.25, 0.46, 0.45, 0.94);    

}


/* Animations - @keyframes */

@keyframes slideRight{
    from{
    transform: translateX(-50%);
    }

    to{
    transform: translateX(0%);
    }
}




@keyframes slideRight-appear{
    from{
    transform: translateX(-50%);
    opacity: 0;
    }

    to{
    transform: translateX(0%);
    opacity: 1;
    }
}

@keyframes slideLeft{
    from{
    transform: translateX(14%);
    }

    to{
    transform: translateX(0%);
    }
}

@keyframes slideBottom{
    from{
    transform: translateY(-200%);
    }

    to{
    transform: translateY(0%);
    }
}


@keyframes slideTop{
    from{
    transform: translateY(75%);
    }

    to{
    transform: translateY(0%);
    }
}


@keyframes appear{
    from{
    opacity: 0;
    }

    to{
    opacity: 1;
    }
}

